<style>
    .text-style {
        font-size: 30px !important;
        font-family: fantasy !important;
        color:brown !important;
    }
</style>


<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand text-style" href="{%url 'question-list'%}">Ask Question</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         
          {% if request.user.is_authenticated %}

            <li class="nav-item mx-3">
                <a class="nav-link disabled" aria-disabled="true">Welcome,{{request.user.username}}</a>
              </li>
              <form class="d-flex mx-3" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'add-question'%}">Add quesiton</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout'%}">Logout</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             Profile
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'password_change'%}">Change Password</a></li>
              <li><a class="dropdown-item" href="{% url 'change-profile'%}">Change Account</a></li>

              <li><a class="dropdown-item" href="{% url 'list'%}">Question & Answer</a></li>
            </ul>
           {% else %} 
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'login'%}">Login</a>
            
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'register'%}">Register</a>
          </li>
          {% endif%}
         
        </ul>
       
      </div>
    </div>
  </nav>