 {% extends "base.html" %}
 {% load crispy_forms_tags%}

 {% block title %}

 Question Details

 {% endblock %}


 {% block body %}

 <div class = "container mt-3">
    <h1>{{question.title}}</h1>
    <p>{{question.body}}</p>

    <h6>Posted By: <i> {{question.author}}</i></h6>
    <p>Published {{question.created_at}}</p>
     <hr>
     {% if request.user == question.author%}
     <a  class = "btn btn-danger"href="{% url 'delete-question' question.slug%}">Delete</a>
     <a  class = "btn btn-success"href="{% url 'update-question' question.slug%}">Update</a>
     {% endif %}
 </div>

 <div class ="container">
   {% for answers in  answer_list%}
   <div class = "card mt-4 py-3 shadow">
      <div class = "card-body">
         <p class= "card-text">{{answers.description}}</p>
         <div class = "row">
            <div class = "col col-md-auto">
               Answered By : {{ answers.author.username}}


            </div>
            <div class = "col col-md-auto">
               Answerd Time : {{answers.created_at}}


            </div>
             
         </div>

         {% if request.user == answers.author%}
         <a  class = "btn btn-outline-danger btn-sm mt-3"href="{% url 'delete-answer' answers.id%}">Delete</a>
         <a  class = "btn btn-outline-success btn-sm mt-3"href="{% url 'update-answer' answers.id%}">Update</a>
         {% endif %}

      </div>

   </div>
   {% endfor %}
   <!-- Adding answer -->
   <div class = "container">
      <div class = "card mt-4">
         <form action="" method = "post" novalidate>
            <h5 class ="card header">Add Answer</h5>
            <div class = "card-body">
               {% csrf_token%}
               {{form|crispy}}
            <input type="submit" value = "Add Answer" class = "btn btn-success">

            </div>
            
         </form>

      </div>

   </div>

 </div>

 {% endblock %}