{% extends "base.html"%}
{% load crispy_forms_tags %}


{% block title %} Update Question{% endblock %}

{% block style %}
<style>
    .update-style {
        width:500px;
        height:auto;

    }
</style>
{% endblock %}


{% block body %}

<div class = "container login-style">
    <h3>Update Question </h3>
    <form action="" method = "post" novalidate>
        {% csrf_token%}
        {{form | crispy}}

        <input type="submit" value = "Update Question" class = "btn btn-success">

    </form>
</div>

{% endblock %}